:root {
  --color-neutral-0: #ffffff;
  --color-neutral-5: #fafafa;
  --color-neutral-10: #ececee;
  --color-neutral-20: #dfdfe2;
  --color-neutral-30: #d1d1d6;
  --color-neutral-40: #c4c4ca;
  --color-neutral-50: #a9a9b2;
  --color-neutral-60: #8e8e9a;
  --color-neutral-70: #747481;
  --color-neutral-80: #5c5c66;
  --color-neutral-90: #505058;
  --color-neutral-100: #44444b;
  --color-neutral-200: #38383d;
  --color-neutral-300: #2c2c30;
  --color-neutral-400: #141416;
  --color-neutral-500: #000000;
}
