/* SLIDER COMPONENT STYLES */

input[type='range'].input__slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  outline: none;
  border-radius: 4px;
  /* transition: background 0.5s; */
}

input[type='range'].input__slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

input[type='range'].input__slider::-moz-range-track {
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

input[type='range'].input__slider::-ms-track {
  width: 100%;
  height: 4px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range'].input__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin-top: -5px !important;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid;
  @apply bg-dark-action-primary-text dark:bg-action-primary-text;
  @apply border-base-border dark:border-dark-base-border;
}
input[type='range'].input__slider:disabled,
input[type='range'].input__slider:disabled::-webkit-slider-runnable-track,
input[type='range'].input__slider:disabled::-moz-range-track,
input[type='range'].input__slider:disabled::-ms-track {
  cursor: not-allowed;
  opacity: 0.8;
}

input[type='range'].input__slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  margin-top: -5px !important;
  border-radius: 50%;
  cursor: pointer;
  border: 2px;
  @apply border-2;
}

input[type='range'].input__slider:disabled::-moz-range-thumb {
  cursor: not-allowed;
  opacity: 0.8;
}

input[type='range'].input__slider:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
  opacity: 0.8;
}
